.TimerView {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
  margin-top: 2rem;
}

.TimerView > h1 {
  flex: 1;
  margin: 1rem;
  text-align: left;
  font-variant-numeric: tabular-nums;
}

.TimerView > h2 {
  flex: 1;
}

.TimerView > button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  font-size: 1rem;
  font-weight: bold;
  width: 4rem;
}

.button-start {
  background-color: rgb(33, 110, 33);
  color: #fff;
}

.button-stop {
  background-color: rgb(152, 16, 16);
  color: #fff;
}
